
*.xcuserstate

*.xcbkptlist

memorize.xcodeproj/project.xcworkspace/xcuserdata/yoshi.xcuserdatad/UserInterfaceState.xcuserstate

memorize.xcodeproj/xcuserdata/yoshi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist
